<section>
 <%@user.each do |usr|%>
  <div class="user-info">
    <div class="user-img">
        <img src=<%=usr.photo%>>
    </div>
    <div class="user-content">
        <span><%=usr.name%></span>
        <span>Number of Posts:<%=usr.posts_counter%></span>
    </div>
  </div>
  <div class="user-bio">
    <span>Bio:</span>
    <p><%=usr.bio%></p>
  </div>
 <%end%>
  <div class="posts">
    <%@user.most_recent_post.each do |post|%>
      <div class="post-info">
        <span><%=post.title%></span>
        <span><%=post.text%></span>
        <span>Comments:<%=post.comments_counter%> Likes:<%=post.likes_counter%></span>
      </div>
    <%end%>
  </div>
  <%= link_to "/users/#{@user.id}/posts" do %>
    <button type="button" class="seeAllPosts">See all posts</button>
  <% end %>
</section>