<section>
    <h1>Create New Post</h1>
    <div class="row">
        <%= form_with model: @post, url: user_posts_path, method: :post, scop: :post do |form| %>
          <div class="col-md-6">
            <%= form.label :title %>
            <%= form.text_field :title %>
          </div>
          <div class="col-md-6 mt-2">
            <%= form.label :text %>
            <%= form.text_area :text, column: 20 %><br>

            <%= form.submit "Create Post", class:'btn btn-primary mx-4' %>
          </div>
        <% end %>
    </div>
</section>