<section>
  <main class="post">
   <div>
      <%= @post.title%> By <%= @user.name %>
      <div><%= @post.text %></div>
      <div>Comments: <%= @post.comments_counter %></div>
      <div>Likes: <%= @post.likes_counter%></div>
   </div>
   <div>
      <% @post.most_recent_comments.each do |comment| %>
                <div><%= comment.text %></div>
            <%if can? :destroy, comment%>
             <%= button_to "Delete Comment", user_post_comments_path(post_id: @post.id), method: :delete, data: {turbo: false}%>
            <%end%>
      <% end %>
   </div>

   <div class="container">
      <%= form_with model: @comment, url: user_post_comments_path(post_id: @post.id), method: :post, scop: :post do |f| %>
       <div class="comment-section">
         <%= f.text_area :text, placeholder: "Add Comment" %>
       <br/>
          <%= f.submit "Comment", class:'btn btn-primary' %>
       </div>
      <% end %>
   </div>

   <div>
      <%= form_with model: @like, url: user_post_likes_path(post_id: @post.id), method: :post, scop: :post do |f| %>
          <%= f.submit "Like", class:'btn btn-primary' %>
      <% end %>
   </div>
  </main>
<section>

