<section>
    <div class="post-content">
        <span><%=@post.title%> By <%=@user.name%></span>
        <span>Comments:<%=@post.comments_counter%> Likes:<%=@post.likes_counter%></span>
        <p><%=@post.text%></p>
    </div>
    
</section>