<section>
    <div class="post-content">
        <span><%=@post.title%> By <%=@user.name%></span>
        <span>Comments:<%=@post.comments_counter%> Likes:<%=@post.likes_counter%></span>
        <p><%=@post.text%></p>
    </div>
    <div class="post-comment-likes">
        <%comments = Comments.where(posts_id: @post.id)%>
        <%comments.each do |comment|%>
            <span><%user = User.find_by(id: comment.author_id).name%></span>
            <span><%=user%>: <%=comment.text%></span>
        <%end%>
    </div>
</section>