<section>
  <main>
   <div>
      <%= @post.title%> By <%= @user.name %>
      <div><%= @post.text %></div>
      <div>Comments: <%= @post.comments_counter %></div>
      <div>Likes: <%= @post.likes_counter%></div>
   </div>
   <div>
      <% @post.most_recent_comments.each do |comment| %>
                <div><%= comment.text %></div>
      <% end %>
   </div>

   <div class="container">
      <%= form_with model: @comment, url:post_path, method: :post do |f| %>
       <div class="comment-section">
         <%= f.text_area :text, placeholder: "Add Comment" %>
       <br/>
          <%= f.submit "Comment", class:'btn btn-primary' %>
       </div>
      <% end %>
   </div>

   <div>
      <%= form_with model: @like, url: like_path, method: :post do |f| %>
          <%= f.submit "Like", class:'btn btn-primary' %>
      <% end %>
   </div>
  </main>
<section>

